<h1>Edit user</h1>

<%= form_for(@user) do |f| %>

 <%= render 'dialogs', :f => f %>

  <div class="actions">
    <%= f.submit "Update" %> 
  </div>

<% end %>

<div id="gravatar">
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a> 
</div>

<%= link_to 'löschen', delete_form_user_path(@user) %> 





<script type="text/javascript">
jQuery(function($){
  var size = 0;
  $("#gravatar img").click(function(){
    if ($(this).css('width') == '250px') {
      size = '100px';
    } else {
      size = '250px'; 
    }
    $(this).animate({
    width: size,
    height: size  
  }, 500, function() {
  })});
});
</script>
