<div class="profile" summary="Profile information"> 
    
    <div class="main"> 
      <h1>
        <div id="gravatar">
        <%= gravatar_for @user, 200 %>
         <%= @user.name %> 
        </div>
      </h1>
    </div>

    <div class="sidebar round">
      <strong>name</strong> <%= @user.name %> <br />
      <strong>age</strong>  <%= @user.age %>  <br />
      <strong>email</strong> <%= @user.email %> <br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %> 
    </div>

</div>

<script type="text/javascript">
jQuery(function($){
  var size = 0;
  $("#gravatar img").click(function(){
    if ($(this).css('width') == '670px') {
      size = '200px';
    } else {
      size = '670px'; 
    }
    $(this).animate({
    width: size,
    height: size  
  }, 500, function() {
  })});
});
</script>
