<div class="profile" summary="Profile information"> 
    
    <div class="main"> 

      <h1>
        <div id="gravatar">
        <%= gravatar_for @user, 200 %>
         <%= @user.name %> 
         <% if current_user.admin? %>
         <div class="admin">
         ||   <%= link_to "kill user", user_path, :method => :delete, :confirm => 'Really?' %>
         </div>
         <% end %>
        </div>
        </h1>

    <div class="sidebar round">
      <table>
        <tr>
          <td>
            <strong>My name: </strong> 
          </td>
          <td>
             <%= link_to @user.name, user_path(@user) %>
          </td>
        <tr>
          <td>
            <strong>My age: </strong>  
          </td>
          <td>
            <%= @user.age %>
          </td>
      <tr>
          <td>
            <strong>My mail: </strong> 
          </td>
          <td>
            <%= @user.email %>
          </td>
      <tr>
          <td >
            <strong>My posts: </strong> 
          </td>
          <td>
            <%= @user.microposts.count %>
          </td>
        </table>
    </div>

    <% if current_user?(@user) %>

    <%= render 'microposts/form' %>

    <% end %>


<% unless @user.microposts.empty? %>
<p>   
    <%= will_paginate @microposts %> 
    <p>
  <div class="micropost_area">
      <% @microposts.each do |mp| %>
        <%= render 'microposts/micropost', :micropost => mp %>
      <% end %>
    <p>
  
  </div>
  
    <%= will_paginate @microposts %> 
    <% end %>
</div>
<script type="text/javascript">
jQuery(function($){
  var size = 0;
  $("#gravatar img").click(function(){
    if ($(this).css('width') == '670px') {
      size = '200px';
    } else {
      size = '670px'; 
    }
    $(this).animate({
    width: size,
    height: size  
  }, 500, function() {
  })});
});
</script>
