<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

      <%= csrf_meta_tag %>
      <%= javascript_include_tag :pages %>
      <%= render 'layouts/stylesheets' %>
      
  </head>
  <body>

    <header>
      <% if signed_in? %>
      <%= link_to image_tag("logo.png", :alt => "Tent"), current_user %>
      <% else %>
      <%= link_to image_tag("logo.png", :alt => "Tent"), root_path %>
      <% end %>
      
    </header> 

      <%= render 'layouts/nav' %>

    <div class="container">
      <section class="round">
        <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key} round") %>
        <% end %>

        <%= yield %> 
      </section>
    </div>

    <div class="debug">
      <center>
        <%= render 'layouts/footer' %>
   </center>
   </div>
  </body>
</html>


<script type="text/javascript">
  jQuery(function($){
    $(".flash").delay(5000).fadeOut(1000);
  });
</script>
        
