<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

      <%= csrf_meta_tag %>
      <%= render 'layouts/stylesheets' %>
      
  </head>
  <body>

    <header>
      <%= link_to image_tag("logo.png", :alt => "Tent"), root_path %>
    </header> 

      <%= render 'layouts/nav' %>

    <div class="container">

      <section class="round">
        <%= yield %> 
      </section>

        <%= render 'layouts/footer' %>

    </div>

    <div class="debug">
      <center>
     <%= debug(params) if Rails.env.development? %>
   </center>
   </div>
  </body>
</html>
